*{
	padding: 0;
	margin: 0;
}


.tipify{
	background: #EEE;

}


/* login + Register popup */

.popup-position{ 
	display:none;
	position:fixed;   /* This will allow it to be fixed*/
	top:0;			 
	left:0;
	background-color: rgba(0,0,0,0.7);
	width:100%;    	  /* 100% of the page */
	height:100%;
	z-index: 1;		  /* So it can put the z-index over the picture. untrigger this function to see what happens */
}

#popup-wrapper{
	width:500px;
	margin:70px auto; /* this aligns it on the page */
	text-align: left;
}

#popup-container{	 /* this is the actual container */
	background:white;
	height:40vh;
	width:40vw;
	display:table;
}

.close_button{
	position:absolute;
	top: 0;
	right: 0;
	display:inline-block;
	font-size: 20px;
	padding:5px 15px;
	background:red;
	font-weight:bold;
}

.close_button a{
	text-decoration: none;
	color:white;
}


 .login_left{
 	border:1px solid red;					
 	display:table-cell;
 }


.login_right{
	border:1px solid green;
	display:table-cell;
}


.register_form{
 	background:lavender;
 	display:table;
 }

 .register_left{
 	border:1px solid red;
 	display:table-cell;
 }


.register_right{
	border:1px solid green;
	display:table-cell;
}


/* login + Register popup */





/*   Default Page Header    */
header{
	background:#434953;
	border-bottom:3px solid #5CC642;
}

#logo{
height:160px;
}


.rightCorner{
	display:inline-block;
	font-family: 'Montserrat', sans-serif;
	position:absolute;
	top:3%;
	right:0;
}

.login{
	border-radius:5px;
	color:white;
	border:none;
	font-size: 1.4em;
}

.register{
	color:white;
	padding:3px 10px;
	font-size: 1.4em;
	border-radius:5px;
	border: 2px solid white;/*#434953*/
}



/*  Default Page Header    */






#menubar1{
	background: #5cc642;
	position:absolute;
	right:0;
	top:10%;
	text-align: center;
	width:50%;
}

#menubar1 a {
	margin-left:2%;
	width:2%;
	text-decoration: none;
	color:white;
	text-shadow: 3px 1px #5cc642;
	font-size: 1.5em;
	display:inline;
	border-right: 1px solid white
}

#menubar1 a:hover{
	color:blue;
}








/*  Default Home Page */

.box{
	/*border:1px solid black;*/
	height:250px;
	width:250px;
}

.img1{
	width:100%;
	height:100%;
}

.img2{
	width:100%;
	height:100%;
}

.img3{
	width:100%;
	height:100%;
}


/*Geo Location*/
.pacman{
	display:none;    /* Display this block sooner or later */
}
/*Geo Location*/





/*			Footer			*/

footer{
    position:relative;
    bottom:0;
 	width:100%;
    height:55%;   /* Height of the footer */
	background:#434953;
}

/*			Footer			*/

/* Default Home Page  */







/* Customer Home Page */
	.customer_profile{
		background:lavender;
	}

	.customer_img{
		border:1px solid black;
		height:100px;
		width:100px;
	}
	.forgot{
		background: yellow;
	}
	#profile_image{
		background:green;
	}


/*  Customer Home Page */





/*   Employee Home Page */
.employee_profile{
	background: lavender;
}

.img{
	border:1px solid black;
	height:100px;
	width:100px;
}

.status{
	background: green;
	display:inline-block;
}

.history{
	background: red;
}
.employee_reviews{
	background:lavender;
}
.friends{
	background:yellow;
}
/* Employee Home Page  */











